@media only screen and (min-width: 64rem) {


    .ads-flex {
        display: flex;
        overflow: auto;
    }

    .intro {
        display: flex;
    }

    .upcoming-events {
        max-width: 60%;
    }


    /* intro */

    .flex {
    display: flex;
    }
    
.intro div {
    flex: 1 1;
}


    /* Weather */
    .top-weather, .bottom-weather {
        display: flex;
    }

    .part {
        flex: 1 1;
        margin: 10px;
        margin-top: 20px;
    }

    .contact-us{
        max-width: 40%;
     }

     .admin-info {
        display: flex;
     }

     .admin-info div {
         display: block;
         flex: 1 1;
     }

     .admin {
         max-width: 90%;
     }


     .banner img {
        width: 110%;
        height: 300px; 
        object-fit: cover;
        object-position: 20% 10%; 
     }

     .city-info img{
        padding: 20px;
        max-width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;

    }

    .butlerville {
        display: flex;
    }

    .butlerville h3 {
        padding-top: 20px;
    }
    
    .butlerville img {
        max-width: 40%;
    }
}