body {
    font-family: 'Montserrat', sans-serif;
    display: block;
}

html {
    -webkit-text-size-adjust: 100%;
}
header, main, footer {
    margin-left:auto;
    margin-right:auto;
    max-width: 700px;
    padding: 1%;

}
main {
    line-height:1.5;
}

header {
    background-color: lightblue;
    border-radius: 8px;
}

h1 {
    padding-left: 2%;
}



footer {
    background-color: rgb(119, 201, 228);
    padding-top: 1%;
    padding-bottom: .1%;
    line-height:1;
    font-size: 80%;
    border-radius: 8px;
}



img {
    margin-top: 50px;
    margin-right: 20px;
    border-radius: 5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 200px;
    height: auto;
}