h1,
h2,
h3,
h4,
a {
    font-family: 'Libre Baskerville', serif;

}

p,
footer,
.content-box {
    font-family: 'Work Sans', sans-serif;
}

body {
    display: block;
    padding: 0;
    background-color: #C7E5F4;
}

h2 {
    text-indent: 15px;
}


main {
    margin-bottom: 40px;
    margin-left: 3%;
    margin-right: 3%;
}

footer {
    background-color: #90CCF4;
    padding: 50px;
}

/* header */

header h1,
p {
    text-align: center;
    margin: 0;
}

header {
    background-color: white;
}

.header img {
    max-width: 8rem;
    float: left;
    margin-top: 20px;
}

.header h1 {
    font-size: 1.5rem;
    position: relative;
    padding-top: 30px;

}

header p {
    font-size: 1.2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 30px;
    padding-right: 11px;
}




/* mobile */

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}


.content-box {
    background-color: gray;
}

nav {
    background-color: #575757;
    margin: 0;
    padding: 0;

}

nav li a {
    color: white;
    text-decoration: none;
    display: block;
    color: #E2EEF3;
    font-size: 1.3rem;
}

nav ul li {
    padding: 10px;
    display: block;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.body {
    background-color: blue;
}


/* responsive nav */
.responsive li {
    display: block;
}


nav ul li.active a {
    background-color: rgb(8, 145, 236);
}

/* normal */

nav ul li:hover {
    background-color: #8F8f8f;
}

body {
    margin: 0;

}


/* Divs */

.content-box {
    margin: 15px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #4D98D1;
}



/* Weather summary / image */
.home-image {
    max-width: 100%;
}

.weather-summary {
    padding: 18px;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #4D98D1;
}

.weather-summary h3 {
    text-align: center;
    margin: 0;
}

.weather-summary p {
    padding-top: 10px;
}


/* 5-day Forcast */



.forcast {

    display: flex;
    text-align: center;
    margin-bottom: 30px;
}

.forcast-day {
    margin-left: 5px;
    background-color: #4D98D1;
    flex: 1 1 auto;
}

.fiveday {
    margin-top: 40px;
    text-align: center;
    font-size: 1.5rem;
}

.forcast p{
    margin-bottom: 10px;
    line-height: 30px;
}

.forcast-day h4 {
    margin-top: 20px;
}

